# How to import "all szr" html tables into python

In [50]:
import pandas as pd
import os
import numpy as np
from datetime import datetime
#from dateutil.parser import parse

In [25]:
# Import table from html file which lists onset channels and subclinical seizures
sub='253'
sub='264'
sub='1146'
#metadata_dir='/Users/davidgroppe/PycharmProjects/SZR_ANT/EU_METADATA'
metadata_dir='/Users/davidgroppe/GIT/OCSVM_EDMSE/matlab/EU/metadata'
htable=pd.read_html(os.path.join(metadata_dir,'all_szrs_FR_'+sub+'.html'))
print('%d tables read' % len(htable))

4 tables read

In [26]:
# First table is CLINICAL SEIZURES<---USE ME!!!!
htable[0].head()

,#,classif.,onset,offset,p.,vig.,origin,semiology
0,1:,CP,eeg: 21.06.'09 11:52:24.783203,eeg: 21.06.'09 11:54:26.308594,b,awake,"origin: HL2,HL3,HL4 early: HL1, HL2, HL3, HL4...",NaN
1,2:,CP,eeg: 21.06.'09 13:56:49.808594,eeg: 21.06.'09 13:58:43.708008,b,awake,"origin: HL4 early: HL2, HL3, HL4, HL5, HL6 l...",NaN
2,3:,CP,eeg: 22.06.'09 10:33:35.216797,eeg: 22.06.'09 10:35:32.900391,r,awake,"origin: HL2,HL2,HL3,HL3,HL4,HL4,HL5,HL6,HL7,HL...",NaN
3,4:,CP,eeg: 22.06.'09 14:58:49.866211,eeg: 22.06.'09 15:00:51.375000,b,awake,"origin: HL4,HL5,HL6 early: HL1, HL2, HL3, HL4...",NaN
4,5:,CP,eeg: 23.06.'09 10:13:36.033203,eeg: 23.06.'09 10:16:13.383789,b,awake,"origin: HL4 early: HL1, HL2, HL3, HL4, HL5, H...",NaN

In [111]:
# Convert clinical onset/offsets to datetime
n_clinical_szr=htable[0].shape[0]
print('%d clinical szrs' % n_clinical_szr)
clinical_onset_sec=list()
clinical_offset_sec=list()
clinical_onset_str=list()
clinical_offset_str=list()

#milestone=datetime(1970,1,1)
milestone=datetime(2000,1,1) # Arbirary date via which to convert times into seconds
#milestone=datetime(2009,6,21)

for a in range(n_clinical_szr):
#for a in range(1):
    print()
    # Convert onset to seconds since milestone
    temp_lst=htable[0].iloc[a,2].split(' ')
    temp_lst[1]=temp_lst[1].replace("'","20")
    print('Onset: '+temp_lst[1]+' '+temp_lst[2])
    hr_splt=temp_lst[2].split(':')
    temp_dt=datetime.strptime(temp_lst[1],'%d.%m.%Y')
    ttl_sec=(temp_dt-milestone).total_seconds()
    ttl_sec+=int(hr_splt[0])*3600+int(hr_splt[1])*60+float(hr_splt[2])
    #print(ttl_sec)
    clinical_onset_sec.append(ttl_sec)
    clinical_onset_str.append(temp_lst[1]+' '+temp_lst[2])
    
    # Convert offset to seconds since milestone
    temp_lst=htable[0].iloc[a,3].split(' ')
    temp_lst[1]=temp_lst[1].replace("'","20")
    print('Offset: '+temp_lst[1]+' '+temp_lst[2])
    hr_splt=temp_lst[2].split(':')
    temp_dt=datetime.strptime(temp_lst[1],'%d.%m.%Y')
    ttl_sec=(temp_dt-milestone).total_seconds()
    ttl_sec+=int(hr_splt[0])*3600+int(hr_splt[1])*60+float(hr_splt[2])
    #print(ttl_sec)
    clinical_offset_sec.append(ttl_sec)
    clinical_offset_str.append(temp_lst[1]+' '+temp_lst[2])

    df=clinical_offset_sec[a]-clinical_onset_sec[a]
    #print(df)
    mnts=np.floor(df/60)
    scs=df-mnts*60
    print('Duration: %d minute(s) %f sec' % (mnts,scs))

9 clinical szrs

Onset: 21.06.2009 11:52:24.783203
Offset: 21.06.2009 11:54:26.308594
Duration: 2 minute(s) 1.525391 sec

Onset: 21.06.2009 13:56:49.808594
Offset: 21.06.2009 13:58:43.708008
Duration: 1 minute(s) 53.899414 sec

Onset: 22.06.2009 10:33:35.216797
Offset: 22.06.2009 10:35:32.900391
Duration: 1 minute(s) 57.683594 sec

Onset: 22.06.2009 14:58:49.866211
Offset: 22.06.2009 15:00:51.375000
Duration: 2 minute(s) 1.508789 sec

Onset: 23.06.2009 10:13:36.033203
Offset: 23.06.2009 10:16:13.383789
Duration: 2 minute(s) 37.350586 sec

Onset: 23.06.2009 11:45:01.008789
Offset: 23.06.2009 11:47:03.908203
Duration: 2 minute(s) 2.899414 sec

Onset: 23.06.2009 14:25:52.366211
Offset: 23.06.2009 14:27:52.616211
Duration: 2 minute(s) 0.250000 sec

Onset: 23.06.2009 16:09:33.741211
Offset: 23.06.2009 16:11:57.724609
Duration: 2 minute(s) 23.983398 sec

Onset: 24.06.2009 14:00:30.941406
Offset: 24.06.2009 14:01:43.983398
Duration: 1 minute(s) 13.041992 sec

In [125]:
# Convert SUBclinical onset/offsets to datetime
n_subclinical_szr=htable[2].shape[0]-1 # subtract 1 because last row is a total
print('%d subclinical szrs' % n_subclinical_szr)
subclinical_onset_sec=list()
subclinical_offset_sec=list()
subclinical_onset_str=list()
subclinical_offset_str=list()

#milestone=datetime(1970,1,1)
milestone=datetime(2000,1,1) # Arbirary date via which to convert times into seconds
#milestone=datetime(2009,6,21)

for a in range(n_subclinical_szr):
#for a in range(1):
    print()
    # Convert onset to seconds since milestone
    temp_lst=htable[2].iloc[a,1].split(' ')
    temp_lst[0]=temp_lst[0].replace("'","20")
    print('Onset: '+temp_lst[0]+' '+temp_lst[1])
    hr_splt=temp_lst[1].split(':')
    temp_dt=datetime.strptime(temp_lst[0],'%d.%m.%Y')
    ttl_sec=(temp_dt-milestone).total_seconds()
    ttl_sec+=int(hr_splt[0])*3600+int(hr_splt[1])*60+float(hr_splt[2])
    #print(ttl_sec)
    subclinical_onset_sec.append(ttl_sec)
    subclinical_onset_str.append(temp_lst[0]+' '+temp_lst[1])
    
    # Convert offset to seconds since milestone
    temp_hr=htable[2].iloc[a,2]
    print('Offset: '+temp_lst[0]+' '+temp_hr)
    hr_splt=temp_hr.split(':')
#     temp_dt=datetime.strptime(temp_lst[1],'%d.%m.%Y')
    ttl_sec=(temp_dt-milestone).total_seconds()
    ttl_sec+=int(hr_splt[0])*3600+int(hr_splt[1])*60+float(hr_splt[2])
    #print(ttl_sec)
    subclinical_offset_sec.append(ttl_sec)
    subclinical_offset_str.append(temp_lst[0]+' '+temp_hr)

    df=subclinical_offset_sec[a]-subclinical_onset_sec[a]
    #print(df)
    mnts=np.floor(df/60)
    scs=df-mnts*60
    print('Duration: %d minute(s) %f sec' % (mnts,scs))

22 subclinical szrs

Onset: 18.06.2009 13:02:50
Offset: 18.06.2009 13:03:28
Duration: 0 minute(s) 38.000000 sec

Onset: 18.06.2009 14:22:46
Offset: 18.06.2009 14:23:19
Duration: 0 minute(s) 33.000000 sec

Onset: 18.06.2009 16:12:08
Offset: 18.06.2009 16:12:49
Duration: 0 minute(s) 41.000000 sec

Onset: 18.06.2009 16:31:51
Offset: 18.06.2009 16:32:21
Duration: 0 minute(s) 30.000000 sec

Onset: 18.06.2009 19:12:12
Offset: 18.06.2009 19:12:49
Duration: 0 minute(s) 37.000000 sec

Onset: 18.06.2009 23:36:24
Offset: 18.06.2009 23:36:33
Duration: 0 minute(s) 9.000000 sec

Onset: 19.06.2009 07:19:24
Offset: 19.06.2009 07:19:55
Duration: 0 minute(s) 31.000000 sec

Onset: 20.06.2009 00:11:15
Offset: 20.06.2009 00:11:27
Duration: 0 minute(s) 12.000000 sec

Onset: 20.06.2009 00:15:18
Offset: 20.06.2009 00:15:56
Duration: 0 minute(s) 38.000000 sec

Onset: 20.06.2009 23:16:52
Offset: 20.06.2009 23:17:05
Duration: 0 minute(s) 13.000000 sec

Onset: 21.06.2009 03:45:44
Offset: 21.06.2009 03:46:19
Duration: 0 minute(s) 35.000000 sec

Onset: 21.06.2009 05:07:26
Offset: 21.06.2009 05:07:49
Duration: 0 minute(s) 23.000000 sec

Onset: 21.06.2009 08:07:39
Offset: 21.06.2009 08:08:07
Duration: 0 minute(s) 28.000000 sec

Onset: 21.06.2009 18:05:31
Offset: 21.06.2009 18:06:05
Duration: 0 minute(s) 34.000000 sec

Onset: 21.06.2009 18:41:45
Offset: 21.06.2009 18:42:09
Duration: 0 minute(s) 24.000000 sec

Onset: 21.06.2009 19:24:54
Offset: 21.06.2009 19:27:07
Duration: 2 minute(s) 13.000000 sec

Onset: 21.06.2009 20:18:00
Offset: 21.06.2009 20:18:35
Duration: 0 minute(s) 35.000000 sec

Onset: 21.06.2009 20:25:39
Offset: 21.06.2009 20:26:20
Duration: 0 minute(s) 41.000000 sec

Onset: 21.06.2009 23:52:53
Offset: 21.06.2009 23:53:05
Duration: 0 minute(s) 12.000000 sec

Onset: 22.06.2009 02:19:46
Offset: 22.06.2009 02:19:58
Duration: 0 minute(s) 12.000000 sec

Onset: 22.06.2009 05:29:42
Offset: 22.06.2009 05:30:28
Duration: 0 minute(s) 46.000000 sec

Onset: 22.06.2009 06:54:53
Offset: 22.06.2009 06:55:04
Duration: 0 minute(s) 11.000000 sec

In [7]:
# Second table is CLINICAL SEIZURES with slightly different info
htable[1].head()

,#,classif.,onset,pattern,vigilance,origin
0,1:,CP,eeg: 21.06.'09 11:52:24.783203,rhythmic beta waves,awake,"HL2,HL3,HL4"
1,2:,CP,eeg: 21.06.'09 13:56:49.808594,rhythmic beta waves,awake,HL4
2,3:,CP,eeg: 22.06.'09 10:33:35.216797,repetitive spiking,awake,"HL2,HL2,HL3,HL3,HL4,HL4,HL5,HL6,HL7,HL8,HL9"
3,4:,CP,eeg: 22.06.'09 14:58:49.866211,rhythmic beta waves,awake,"HL4,HL5,HL6"
4,5:,CP,eeg: 23.06.'09 10:13:36.033203,rhythmic beta waves,awake,HL4

In [8]:
# 3rd table is SUBclinical SEIZURES
htable[2].head()

    #               onset    offset
0  1:  18.06.'09 13:02:50  13:03:28
1  2:  18.06.'09 14:22:46  14:23:19
2  3:  18.06.'09 16:12:08  16:12:49
3  4:  18.06.'09 16:31:51  16:32:21
4  5:  18.06.'09 19:12:12  19:12:49

In [9]:
# 4th table is IIDs
htable[3].head()

  type      pattern electrode
0    1  sharp waves       HL3
1    2  sharp waves      TBA3
2    3         lafa      TBC3
3    4         lafa       GC6
4    5  sharp waves       HL7

In [23]:
#htable=pd.read_html()
#'all_szrs_temp.csv'
htable[0].to_csv(os.path.join(metadata_dir,'FR_'+sub+'_clinical_szrs.csv'))
htable[2].to_csv(os.path.join(metadata_dir,'FR_'+sub+'_subclinical_szrs.csv'))