In [2]:
import pandas as pd
import numpy as np

In [6]:
sub_list=pd.read_csv('use_subs.txt',header=None,names=['Subs'])
sub_list.head()

  Subs
0   SV
1   BH
2   IM
3   LM
4   CV

In [10]:
sub_list.iloc[np.random.permutation(14)]

   Subs
0    SV
2    IM
9    IB
1    BH
11  NaN
6    CJ
3    LM
12   RB
4    CV
13   TF
7    CO
5    CC
10   JW
8    CT

In [9]:
np.random.permutation(4)

array([2, 0, 3, 1])